<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EggHunt Counter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<img src="~/Content/Images/RPC.png" class="top-left" />
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">4633 Cedar Avenue</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @*<ul class="nav navbar-nav">
                    <li class="active"><a href="https://renewalwestphilly.org">Home <span class="sr-only">(current)</span></a></li>                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>*@
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://renewalwestphilly.org">Home</a></li>
                    <li><a href="https://maps.google.com/maps?z=16&q=4633%2Bcedar%2Bavenue%2Bphiladelphia%2C%2Bpa%2B19143">GMap</a></li>
                    <li><a href="mailto:office@renewalchurch.org">Email</a></li>
                    <li><a href="https://open.spotify.com/playlist/3VMKlKBwE8f3StiG9ivNjK">Spotify</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()        
    </div>

    <div style="background-color:#000000; color:#FFFFFF;" class="panel-footer">
        <p>&copy; @DateTime.Now.Year - Renewal Presbyterian Church</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
